@import url(//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular);
@font-face {
    font-family: "Graphik Web Regular"; 
    src: url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot"); 
    src: url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.ttf") 
    format("truetype"), url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.svg#Graphik Web Regular") 
    format("svg"); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 253, 245);
}
body{
    font-family: "Graphik Web Regular"; 
    width: 100%;
    margin: auto;
    height: 100vh;
    /*background-color: rgb(255, 253, 245);*/
}
.navbar{
    padding: 15px;
    position: fixed;
    background-color: rgb(255, 253, 245);
}
section{
    /*background-color: rgb(255, 253, 245);*/
    width: 100%;
}
.logo{
    max-width: 1440px;
}
.a-tads{
    justify-content: space-around;
    /*background: blue;*/
    box-sizing: border-box;
    height: 40px;
    width: 730.83px;
    margin-right: -250px;
}
.a-tads a{
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
}
.thumb{
    background: #eba4a0;
    padding: 10px;
    /*margin-top: 2px;*/
    position: relative;
    left: 45px;
    width: 75px;
    border: solid 10px red;
    border-radius: 100px;
    /*background-color: rgba(255, 0, 0, 0.653);*/
}
.but{
    margin-left: 20px;
    margin-right: 30px;
    /*background-color: rgba(255, 0, 0, 0.653);*/
}
.enro{
    margin-top: -2rem;
    background-color: red;
    margin-right: 30px;
    padding: 5px;
    width: 150px;
    border-radius: 20px;
}
.topper{
    margin-top: 7rem;
}
.lady{
    position: relative;
    width: 390px;
    top: 10rem;
    left: 6rem;
    background: none;
    height: 50vh;
}
.word1{
    /*background: #eba4a0;*/
    margin-top: 80px;
    margin-right: 90px;
    width: 20%;
}
.word1 p{
    background: none;
    color: red;
    font-size: 18px;
}
.word1 h1{
    background: none;
    font-size: 49px;
}
.male{
    margin-top: 130px;
    width: 350px;
    height: 60vh;
    margin-right: 130px;
    background-color: transparent;
}
.line{
    width: 180px;
    margin-right: -335px;
    margin-top: -2rem;
    background-color: transparent;
}
.und{
    margin: auto;
    background: none;
    text-align: center;
    margin-top: 10px;
    margin-top: -3rem;
}
.und p{
    margin: auto;
    width: 75%;
    font-size: 18px;
}
.bit{
    background: none;
    width: 400px;
    margin: auto;
}
.bit button{
   width: 150px;
   border-radius: 20px;
   background-color: red;
   padding: .2em;
   border: red;
}
.bit a{
    background-color: red;
}
.male1{
    background-color: transparent;
    position: relative;
    top: -2rem;
    width: 40px;
    right: 8rem;
}
.wire{
    background: none;
    width: 70px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.about{
    margin-top: -1rem;
}
.ee{
    width: 32%;
    margin-left: 110px;
}
.ee1{
    width: 45%;
    margin-right: -60px;
}
.about p{
    font-size: 26px;
}
.about h1{
    margin-left: 6rem;
    font-size: 30px;
}
.about img{
    margin-left: 3rem;
}
.en{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}
.en1{
    width: 90%;
    margin: auto;
    margin-top: rem;
}
.wire1{
    width: 110px;
    margin-left: 260px;
    margin-top: 20px;
    margin-bottom: -.8rem;
}
.tip p{
    color: red;
    font-size: 20px;
    font-weight: 500;
}
.tip h1{
    font-size: 35px;
    font-weight: bolder;
    margin-left: 20px;
}
.star{
    width: 160px;
    margin-right: 15rem;
    height: 25vh;
}
.cards{
    width: 100%;
    margin-top: 5rem;
}
/*.row1{
    background-color: blue;
}*/
.full{
    /*width: 35%;*/
    padding: 58px 48px 93px 50px;
    border-radius: 18px;
    background-color: red;
    height: 55vh;
    /*box-shadow: 1px 5px 5px 5px #FFE1DC;*/
    transition: margin-top 500ms ease;
    /*margin-right: 20px;*/
}
.full img{
    background-color: transparent;
    width: 100px;
    margin-left: 83.4%;
    margin-top: -48px;
}
.full h1{
    background: none;
    font-size: 60px;
    margin-top: -70px;
    margin-bottom: 20px;
}
.full p{
    background: none;
    font-size: 18px;
    max-width: 40ch;
}
.full h2{
    background: none;
    font-size: 36px;
    max-width: 5ch;
    margin-bottom: 20px;
}
.full:hover{
    margin-top: -10px;
}
.full1{
    /*width: 35%;*/
    padding: 58px 48px 93px 50px;
    border-radius: 18px;
    background-color: #ffffff;
    /*height: 50vh;*/
    box-shadow: 1px 5px 5px 5px #FFE1DC;
    transition: margin-top 500ms ease;
    /*margin-right: 20px;*/
    height: 55vh;
}
.full1 img{
    background-color: transparent;
    width: 100px;
    margin-left: 83.4%;
    margin-top: -48px;
}
.full1 h1{
    background: none;
    font-size: 60px;
    margin-top: -70px;
    margin-bottom: 20px;
}
.full1 p{
    background: none;
    font-size: 18px;
    max-width: 40ch;
    background-color: transparent;
}
.full1 h2{
    background: none;
    font-size: 32px;
    max-width: 9ch;
    margin-bottom: 20px;
}
.full1:hover{
    margin-top: -10px;
}
.full2{
    /*width: 35%;*/
    padding: 58px 48px 93px 50px;
    border-radius: 18px;
    background-color: #ffffff;
    height: 55vh;
    box-shadow: 1px 5px 5px 5px #FFE1DC;
    transition: margin-top 500ms ease;
}
.full2 img{
    background-color: transparent;
    width: 100px;
    margin-left: 83.4%;
    margin-top: -48px;
}
.full2 h1{
    background: none;
    font-size: 60px;
    margin-top: -70px;
    margin-bottom: 20px;
}
.full2 p{
    background: none;
    font-size: 18px;
    max-width: 40ch;
    background-color: transparent;
}
.full2 h2{
    background: none;
    font-size: 32px;
    max-width: 9ch;
    margin-bottom: 20px;
}
.full2:hover{
    margin-top: -10px;
}

.full3{
    width: 100%;
    padding: 58px 48px 93px 50px;
    border-radius: 18px;
    background-color: #ffffff;
    height: 60vh;
    box-shadow: 1px 5px 5px 5px #FFE1DC;
    transition: margin-top 500ms ease;
}
.full3 img{
    background-color: transparent;
    width: 100px;
    margin-left: 83.4%;
    margin-top: -48px;
}
.full3 h1{
    background: none;
    font-size: 60px;
    margin-top: -40px;
    margin-bottom: 20px;
}
.full3 p{
    background: none;
    font-size: 18px;
    max-width: 40ch;
    background-color: transparent;
}
.full3 h2{
    background: none;
    font-size: 36px;
    max-width: 9ch;
    margin-bottom: 20px;
}
.full3:hover{
    margin-top: -10px;
}
.full4{
    width: 100%;
    padding: 58px 48px 93px 50px;
    border-radius: 18px;
    background-color: #ffffff;
    height: 60vh;
    box-shadow: 1px 5px 5px 5px #FFE1DC;
    transition: margin-top 500ms ease;
}
.full4 img{
    background-color: transparent;
    width: 100px;
    margin-left: 83.4%;
    margin-top: -48px;
}
.full4 h1{
    background: none;
    font-size: 60px;
    margin-top: -40px;
    margin-bottom: 20px;
}
.full4 p{
    background: none;
    font-size: 18px;
    max-width: 45ch;
    background-color: transparent;
}
.full4 h2{
    background: none;
    font-size: 36px;
    max-width: 9ch;
    margin-bottom: 20px;
}
.full4:hover{
    margin-top: -10px;
}
.full5{
    width: 100%;
    padding: 58px 48px 93px 50px;
    border-radius: 18px;
    background-color: #ffffff;
    height: 60vh;
    box-shadow: 1px 5px 5px 5px #FFE1DC;
    transition: margin-top 500ms ease;
    /*margin-right: 20px;*/
}
.full5 img{
    background-color: transparent;
    width: 100px;
    margin-left: 83.4%;
    margin-top: -60px;
}
.full5 h1{
    background: none;
    font-size: 60px;
    margin-top: -40px;
    margin-bottom: 20px;
}
.full5 p{
    background: none;
    font-size: 18px;
    max-width: 45ch;
    background-color: transparent;
}
.full5 h2{
    background: none;
    font-size: 36px;
    max-width: 9ch;
    margin-bottom: 20px;
}
.full5:hover{
    margin-top: -10px;
}
.row2{
    margin-top: 20%;
}
.ontop{
    margin-bottom: 5%;
}
.redbg{
    background: none;
    background-color: #e7332b;
    margin-top: 50px;
}
.Tplus{
    background: none;
}
.flixit{
    background: none;
}
.wire5{
    background: none;
    position: relative;
    top: 50px;
    left: 300px;
    width: 70px;
}
.word-pix{
    background: none;
    margin-top: 20px;
}
.word-pix p{
    background: none;
    font-size: 18px;
}
.word-pix h1{
    font-size: 40px;
    background: none;
}
.word-pix .enl{
    font-size: 18px;
    margin-top: 2rem;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}
.bana1{
    background: none;
    border-radius: 20px;
    width: 3px;
    padding: .5rem;
    background-color: white;
    margin-top: 20px;
}
.hand{
    background: none;
    width: 30px;
}
.pt{
    background: none;
    border: solid 2px white;
    border-radius: 40px;
    width: 190px;
}
.pt:hover{
    cursor: not-allowed;
}
.grid1{
    background: none;
    width: 35%;
    margin-top: 60px;
    margin-left: -10px;
    display: grid;
    grid-template:  
    'te me'
    'pe fe';
    grid-gap: 10px;
}
.te, .me, .pe, .fe, .pix, .dots{
    background: none;
}
.dots{
    background: none;
    margin-bottom: 50px;
    position: relative;
    right: 1.5rem;
    top: 2rem;
    width: 120px;
}
.image5{
    background: none;
    position: relative;
    width: 650px;
}
.ttp{
    background: none;
    margin-top: 50px;
}
.tt p{
    background: none;
    color: red;
}
.tt h1{
    background: none;
    font-size: 39px;
}
.sec6{
    width: 150px;
    margin-left: 520px;
}
.ft{
    background-color: white;
    width: 80%;
    /*height: 40vh;*/
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 1px 5px 5px 2px #FFE1DC;
    margin-right: 2rem;
    height: 43vh;
}
.html1{
    background: none;
    width: 40px;
    margin-right: 14px;
}
.html2{
    background: none;
    width: 48px;
    margin-right: 14px;
}
.ft p{
    background: none;
    margin-top: 30px;
    font-size: 16px;
}
.log{
    background: none;
    margin-top: 20px;
}
.ft h5{
    background: none;
    font-size: 20px;
}
.ph{
    width: 60px;
    margin-right: 14px;
}
.ph1{
    width: 100px;
    margin-right: 14px;
}
.ft1{
    background-color: white;
    width: 80%;
    /*height: 40vh;*/
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 1px 5px 5px 2px #FFE1DC;
    margin-right: 2rem;
    height: 43vh;
}
.html1{
    background: none;
    width: 40px;
    margin-right: 14px;
}
.html2{
    background: none;
    width: 48px;
    margin-right: 14px;
}
.ft1 p{
    background: none;
    margin-top: 30px;
    font-size: 16px;
}
.log{
    background: none;
    margin-top: 20px;
}
.ft1 h5{
    background: none;
    font-size: 20px;
}
.ph{
    background: none;
    width: 43px;
    margin-right: 14px;
}
.ph1{
    background: none;
    width: 100px;
    margin-right: 14px;
}
.ft2{
    background-color: white;
    width: 80%;
    /*height: 40vh;*/
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 1px 5px 5px 2px #FFE1DC;
    margin-right: 2rem;
    height: 43vh;
}
.html1{
    width: 50px;
    margin-right: 14px;
}
.html2{
    width: 58px;
    margin-right: 14px;
}
.ft2 p{
    background: none;
    margin-top: 30px;
    font-size: 16px;
}
.log{
    margin-top: 10px;
}
.ft2 h5{
    background: none;
    font-size: 20px;
}
.ph{
    width: 50px;
    margin-right: 14px;
}
.ph1{
    width: 80px;
    margin-right: 14px;
}
.ft3{
    background-color: white;
    width: 80%;
    /*height: 40vh;*/
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 1px 5px 5px 2px #FFE1DC;
    margin-right: 2rem;
    height: 43vh;
}
.html1{
    background: none;
    width: 40px;
    margin-right: 14px;
}
.html2{
    background: none;
    width: 48px;
    margin-right: 14px;
}
.ft3 p{
    background: none;
    margin-top: 30px;
    font-size: 16px;
}
.log{
    background: none;
    margin-top: 10px;
}
.ft3 h5{
    background: none;
    font-size: 20px;
}
.ph3{
    background: none;
    width: 50px;
    margin-right: 14px;
}
.ph2{
    background: none;
    width: 80px;
    margin-right: 14px;
}
.ft4{
    background-color: white;
    width: 80%;
    /*height: 40vh;*/
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 1px 5px 5px 2px #FFE1DC;
    margin-right: 2rem;
    height: 43vh;
}
.html1{
    background: none;
    width: 40px;
    margin-right: 14px;
}
.html2{
    background: none;
    width: 48px;
    margin-right: 14px;
}
.ft4 p{
    background: none;
    margin-top: 30px;
    font-size: 16px;
}
.log{
    background: none;
    margin-top: 10px;
}
.ft4 h5{
    background: none;
    font-size: 20px;
}
.ph3{
    background: none;
    width: 50px;
    margin-right: 14px;
}
.ph2{
    background: none;
    width: 80px;
    margin-right: 14px;
}
.ft5{
    background-color: white;
    width: 80%;
    /*height: 40vh;*/
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 1px 5px 5px 2px #FFE1DC;
    margin-right: 2rem;
    height: 43vh;
}
.html3{
    background: none;
    width: 80px;
    margin-right: 14px;
}
.html2{
    background: none;
    width: 48px;
    margin-right: 14px;
}
.ft5 p{
    background: none;
    margin-top: 30px;
    font-size: 16px;
}
.log{
    background: none;
    margin-top: 10px;
}
.ft5 h5{
    background: none;
    font-size: 20px;
}
.ph3{
    width: 50px;
    margin-right: 14px;
}
.ph2{
    background: none;
    width: 80px;
    margin-right: 14px;
}
.ro{
    margin-top: 8vh;
}
.bur{
    margin-left: 50%;
}
.bit1 button{
    margin-top: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: red;
    padding: .4em;
    border: red;
    margin-bottom: 50px;
 }
 .bit1 a{
     background-color: red;
 }
 .sec7{
    width: 120px;
    margin-left: 90px;
    margin-top: 40px;
}
.got{
    /*margin-left: 450px;*/
    margin-top: -40px;
    font-size: 20px;
}
.hdd{
    font-size: 30px;
    margin-top: -20px;
    margin-bottom: 50px;
}
.shrink{
    margin: auto;
    width: 75%;
}
/*hr{
    border: solid 1px rgba(71,44,111,.43);
}*/
.so-accordion-wrapper {
    /*font-family: "Graphik Web Regular"; */
    margin-top: 20px;
    margin-bottom: 80px;
    /*padding-top: 1.5rem;*/
    overflow: visible;
    border: 1px solid rgba(71,44,111,.43);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1120px;
}

.so-tab {
    position: relative;
    width: 100%;
    border-top: 1.5px solid rgba(71,44,111,.43);
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.so-tab label {
    position: relative;
    display: block;
    padding: 0 25px 0 0;
    margin-bottom: 20px;
    margin-top: 15px;
    line-height: normal;
    cursor: pointer;
    letter-spacing: 0.2em;
    /*text-transform: uppercase;*/
    font-size: 18px;
}
.so-tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.so-tab-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.85s;
}

/* :checked */
.so-tab input:checked ~ .so-tab-content {
    max-height: 100px;
}

/* Icon */
.so-tab label::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50% -50%);
    right: 20px;
    width: 15px;
    height: 15px;
    background-image: url(Plus1.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.4s;
    /*-webkit-transition: all 0.50s ease;
    -moz-transition: all 0.50s ease;
    -o-transition: all 0.50s ease;
    transition: all 0.50s ease;*/
}

.so-tab input[type=checkbox] + label::after {
    content: "";
}

.so-tab input[type=radio] + label::after {
    /*content: "\25BC";*/
}

.so-tab input[type=checkbox]:checked + label::after {

  transform: rotate(180deg);*/
}

/*.so-tab input[type=radio]:checked + label::after {
    transform: rotate(3.142rad);
}*/
.quest{
    margin: auto;
    margin-left: 19rem;
}
.quest p{
    font-size: 18px;
}
.bi button{
    background-color: #e7332b;
    padding: 2px;
    border-radius: 20px;
    border: 1px solid #e7332b;
    padding-right: 20px;
    height: 6vh;
}
.bi button a{
    font-size: 16px;
    background: none;
}
.bi{
    margin-top: -10px;
    margin-left: 1rem;
}
.bi img{
    background: none;
    width: 30px;
    margin-left: 8px;
}
.wire7{
    width: 118px;
    margin-left: 12rem;
    margin-top: 2rem;
}

.star1{
    width: 121px;
    margin-left: 38rem;
    margin-top: 5rem;
}
.struc p{
    color: red;
    font-size: 20px;
    margin-top: -20px;
}
.struc h3{
    font-size: 40px;
    margin-top: -15px;
}
.struc .on{
    color: black;
    margin-top: 10px;
    font-size: 18px;
}
.move{
    width: 144px;
}
.circle{
    display: flex;
    height: 132.462px;
    float: left;
    margin-right: -57px;
    margin-top: -72px;
    width: 161.375px;
}
.first-black, .second-black{
    border-radius: 40px;
    width: 484.3px;
}
.second-black{
    margin-left: 20px;
}
.fit1{
    background: none;
    font-size: 35px;
}
.first-black .fit2{
    background: none;
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
}
.first-black h6, ul, li, a, img, .wrapp{
    background: none;
}
.wrapp{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapp a{
    display: block;
    text-decoration: none;
    width: 5px;
    /*background-color: blue;*/
    margin-left: 10px;
    
}
.moda1{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    background: rgba(77, 77, 77, 0.7);
    background-size: cover;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.moda1:target{
    visibility: visible;
    opacity: 1;
}
.modacontent{
    position: relative;
    background: #fff;
    width: 450px;
    max-width: 90%;
    padding: 4em 6em;
    border-radius: 12px;
}
.moda1close{
    position: absolute;
    top: 3rem;
    right: 15px;
    color: red;
    text-decoration: none;
    font-size: 36px;
}
.moda1 h2{
    font-weight: 400;
    font-size: 20px;
    color: black;
}
.moda1 p{
    margin-top: 20px;
    font-size: 13px;
}
.wrapp img{
    width: 15px;
    margin-left: -1.3rem;
    margin-top: -10px;
}
.wrapp{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapp a{
    display: block;
    text-decoration: none;
    width: 5px;
    /*background-color: blue;*/
    margin-left: 10px;
    
}
.moda1{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    background: rgba(77, 77, 77, 0.7);
    background-size: cover;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.moda1:target{
    visibility: visible;
    opacity: 1;
}
.modacontent{
    position: relative;
    background: #fff;
    width: 450px;
    max-width: 90%;
    padding: 4em 6em;
    border-radius: 12px;
}
.moda1close{
    position: absolute;
    top: 3rem;
    right: 15px;
    color: red;
    text-decoration: none;
    font-size: 36px;
}
.moda1 h2{
    font-weight: 400;
    font-size: 20px;
    color: black;
}
.moda1 p{
    margin-top: 20px;
    font-size: 13px;
}
.wrapp img{
    width: 15px;
    margin-left: -1.3rem;
    margin-top: -10px;
}
 